@import "mocha.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: CaskaydiaMono Nerd Font;
    font-size: 13px;
    opacity: 0.9;
}

window#waybar {
    background-color: #1E1E2E;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button {
    padding: 0 5px; 
    border-radius: 5em / 5em;
    background-color: @surface0;
    color: @peach;
    margin: 2px;
    font-weight: bold;
}


#clock,
#custom-power,
#backlight,
#battery,
#cpu,
#memory,
#temperature,
#bluetooth,
#network,
#pulseaudio,
#keyboard-state,
#mpd {
    padding: 0 10px;
    color: @peach;
    background-color: @surface0; 
    font-weight: bold;
}

#custom-media {
    color: @peach;
    background-color: @surface0;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 5em / 5em;
}

#custom-icon {
    margin-left: 15px;
    margin-right: 15px;
}

#tray {
    color: @peach;
    background-color: @surface0;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 5em / 5em;
    margin: 0 10px;
}

#memory {
    border-top-left-radius: 5em 5em; 
    border-bottom-left-radius: 5em 5em;
    color: @yellow;
}

#window,
#workspaces {
    margin: 0 4px;
    background-color: transparent;
    font-weight:bold;
    border-radius: 5em / 5em;
    padding: 0 10px;
    color: @peach;
}

#workspaces button.active {
    background-color: @rosewater;
    color: @surface0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
  border-top-right-radius: 5em 5em; 
  border-bottom-right-radius: 5em 5em;
  color: @sky;   
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#bluetooth.disconnected,
#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    border-top-left-radius: 5em 5em;
    border-bottom-left-radius: 5em 5em;
    color: @pink;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#temperature {
   color: @green;
}

#keyboard-state {
    padding: 0 0px;
    min-width: 16px;
    color: @mauve;
}


#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
